//
//  10_4 Shared.xcconfig
//  Shared build configuration settings for projects targeting Mac OS X 10.4
//  based on the 10.4 Universal SDK
//
//  Created by Jonathon Mah on 2005-11-30.


SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
MACOSX_DEPLOYMENT_TARGET = 10.4
PREBINDING = NO
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_FAST_OBJC_DISPATCH = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
WARNING_CFLAGS = -Wmost
